################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HenriksHobbyLager
/HenriksHobbyLager/obj/Debug/net8.0
/.vs/MaAv_HenriksHobbyLagerr
/.vs/MaAv_HenriksHobbyLager/v17
/.vs
